<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar-content">
    <button mat-button>Home</button>
    <button mat-button>Images</button>
    <button mat-button>Videos</button>
    <button mat-button>Categories</button>
    <button mat-button>Upload</button>
  </div>
</mat-toolbar>

<cdk-virtual-scroll-viewport
  itemSize="100"
  class="viewport"
  (scrolledIndexChange)="onIndex($event)">

  <ng-container *cdkVirtualFor="let m of media$ | async; trackBy: trackById">
    <mat-card class="media-card" [ngClass]="{ video: m.type === 'video' }">
      <div class="media-preview">
        <img mat-card-image
             [src]="environment.previews + m.previewUrl"
             [alt]="m.name"
             loading="lazy" />
        <div *ngIf="m.type === 'video'" class="play-icon"></div>
      </div>
      <mat-card-content>
        <h3>{{ m.name }}</h3>
        <p>{{ m.type | titlecase }} · {{ m.authorName }} · {{ formatDate(m.createdAt) }}</p>
        <p>tags: {{ m.categories }}<p>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <div class="loading" *ngIf="loading">Loading…</div>
</cdk-virtual-scroll-viewport>