<!-- media-form.component.html -->
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-content>
      <!-- Имя автора -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Имя автора</mat-label>
        <input matInput formControlName="authorName" placeholder="Введите имя автора" />
        <mat-error *ngIf="form.get('authorName')?.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Название</mat-label>
        <input matInput formControlName="name" placeholder="Введите название" />
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Теги</mat-label>
        <mat-select formControlName="categories" multiple>
          <mat-option *ngFor="let tag of tags" [value]="tag.name">
            {{ tag.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('categories')?.hasError('required')">
          Выберите хотя бы один тег
        </mat-error>
      </mat-form-field>

      <div class="file-input-wrapper">
        <input type="file" id="file" (change)="onFileSelected($event)"
          style="width:0;height:0;opacity:0;position:absolute;z-index:-1;" />
        <label for="file" mat-raised-button color="primary" class="mat-button">
          Выбрать файл
        </label>

        <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
        <mat-error *ngIf="form.get('file')?.hasError('required')">
          Файл обязателен
        </mat-error>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="accent" type="submit" [disabled]="form.invalid">
        Загрузить
      </button>
    </mat-card-actions>
  </mat-card>
</form>