<div class="filters">
  <div class="filters-left">
    <mat-checkbox [(ngModel)]="showImages">Images</mat-checkbox>
    <mat-checkbox [(ngModel)]="showVideos">Videos</mat-checkbox>
    <!-- Добавили (click) -->
    <button mat-button (click)="openUpload()">
      Upload
    </button>
  </div>
  <div class="filters-right">
    {{ username }}
  </div>
</div>

<div 
  class="scroll-box" 
  #scrollContainer
  infiniteScroll
  [infiniteScrollContainer]="scrollContainer"
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()"
>

  <div class="media-grid">
    <mat-card *ngFor="let m of filteredMedia; trackBy: trackById" class="media-card">
      <div class="media-preview">
        <img *ngIf="m.type === 'image'" [src]=" '/uploads/previews/' + m.previewSource" [alt]="m.name" loading="lazy" />

        <div *ngIf="m.type === 'video'" class="video-wrapper">
          <img class="video-thumb" [src]="'/uploads/previews/' + m.previewSource" [alt]="m.name" loading="lazy" />
          <div class="play-icon"></div>
        </div>
      </div>

      <mat-card-content>
        <div class="media-info">
          <div class="media-header">
            <span class="media-title">{{ m.name }}</span>
            by
            <span class="media-author">{{ m.authorName }}</span>
          </div>

          <div class="media-tags">
            <div class="media-tag" *ngFor="let cat of m.categories;">
              {{ cat.name }}
            </div>
          </div>

          <div class="media-date">
            {{ m.createdAt | date:'short' }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="loading" *ngIf="loading">Loading…</div>
</div>